<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="UPDATE" value="Update.ini"/>
  </appSettings>
  <connectionStrings>
    <add name="UPDATE"  connectionString="Update.ini" />
    <add name="Main" connectionString="Ztop.Todo.WindowsClient.exe"/>
  </connectionStrings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ztop.Todo.Update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ztop.Todo.Update.Properties.Settings>
            <setting name="Ztop_Todo_Update_UPDATE_Service" serializeAs="String">
                <value>http://10.22.102.3:8060/service.asmx</value>
            </setting>
        </Ztop.Todo.Update.Properties.Settings>
    </applicationSettings>
</configuration>