################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ztop.Todo.Web/bin
/Ztop.Todo.Model/obj/Debug
/Ztop.Todo.Web/obj/Debug
*.suo
*.user
/Ztop.Todo.Common/bin/Debug
/Ztop.Todo.Manager/bin/Debug
/Ztop.Todo.Manager/obj/Debug
/Ztop.Todo.Common/obj/Debug
/Ztop.Todo.Model/bin/Debug
/Ztop.Todo.Web/upload_files
/Ztop.Todo.WindowsClient/bin/Debug
/Ztop.Todo.WindowsClient/obj/Debug/TempPE
/Ztop.Todo.WindowsClient/obj/Debug
/.vs/config/applicationhost.config
/packages
/Ztop.Todo.Common/bin/Release
/Ztop.Todo.Common/obj/Release
/Ztop.Todo.Manager/bin/Release
/Ztop.Todo.Manager/obj/Release
/Ztop.Todo.Model/bin/Release
/Ztop.Todo.Model/obj/Release
/Ztop.Todo.Web/obj/Release
/Ztop.Todo.WindowsClient/bin/Release
/Ztop.Todo.WindowsClient/obj/Release/TempPE
/Ztop.Todo.WindowsClient/obj/Release
/Ztop.Todo.Web/logs
/Ztop.Todo.Web/BarCodes
/Ztop.Todo.ActiveDirectory/bin/Debug
/Ztop.Todo.ActiveDirectory/obj/Debug
/Ztop.Todo.ActiveDirectory/bin/Release
/Ztop.Todo.ActiveDirectory/obj/Release
/Ztop.Todo.Console/bin
/Ztop.Todo.Console/obj
/Ztop.Todo.Services/bin
/Ztop.Todo.Services/obj
/Ztop.Todo.WebService/bin
/Ztop.Todo.WebService/obj
/Ztop.Todo.Update/bin
/Ztop.Todo.Update/obj
/ZtopTodoSetup
/ZtopTodoSetup/Debug
/ZtopTodoSetup/Release