################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ztop.Todo.Web/bin
/Ztop.Todo.Model/obj/Debug
/Ztop.Todo.Web/obj/Debug
*.suo
*.user
/Ztop.Todo.Common/bin/Debug
/Ztop.Todo.Manager/bin/Debug
/Ztop.Todo.Manager/obj/Debug
/Ztop.Todo.Common/obj/Debug
/Ztop.Todo.Model/bin/Debug
