@{ 
    GroupType groupType = ViewBag.GroupType;
}

<ul class="dropdown-menu" aria-labelledby="权限管理">
    @if (groupType == GroupType.Administrator)
    {
        <li><a href="/Jurisdiction/Admin/UserList?IsActive=true"><i class="glyphicon glyphicon-user"></i>&nbsp;用户</a></li>
        <li><a href="/Jurisdiction/Admin/Group"><i class="glyphicon glyphicon-plane"></i>&nbsp;组群</a></li>
        <li><a href="/Jurisdiction/Admin/Impower"><i class="glyphicon glyphicon-cog"></i>&nbsp;管理</a></li>
        <li><a href="/Jurisdiction/Admin/Manager"><i class="glyphicon glyphicon-envelope"></i>&nbsp;授权审批</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-tags"></i>&nbsp;授权历史</a></li>
    }
    else if(groupType==GroupType.Manager)
    {
        <li><a href="#"><i class="glyphicon glyphicon-plane"></i>&nbsp;申请权限</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-road"></i>&nbsp;申请历史</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;授权审批</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-flag"></i>&nbsp;审批历史</a></li>
    }else if (groupType == GroupType.Member)
    {
        <li><a href="#"><i class="glyphicon glyphicon-flag"></i>&nbsp;申请权限</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-road"></i>&nbsp;申请历史</a></li>
    }
</ul>
