@using Ztop.Todo.ActiveDirectory
@{ 
    if (ViewBag.GroupType == null)
    {
        return;
    }
    GroupType groupType = ViewBag.GroupType;
}

<ul class="nav nav-second-level" aria-labelledby="权限申请">
    @if (groupType == GroupType.Administrator)
    {
        <li><a href="/Jurisdiction/Admin/UserList?IsActive=true"><i class="fa fa-user"></i>&nbsp;用户</a></li>
        @*<li><a href="/Jurisdiction/Admin/Group"><i class="fa fa-group"></i>&nbsp;组群</a></li>*@
        <li><a href="/Jurisdiction/Admin/Impower"><i class="fa fa-institution"></i>&nbsp;管理</a></li>
        <li><a href="/Authority/Manager"><i class="glyphicon glyphicon-envelope"></i>&nbsp;授权审批</a></li>
        <li><a href="/Authority/CHistory"><i class="glyphicon glyphicon-tags"></i>&nbsp;授权历史</a></li>
    }
    else if(groupType==GroupType.Manager)
    {
        <li><a href="/Authority/Apply"><i class="glyphicon glyphicon-plane"></i>&nbsp;申请权限</a></li>
        <li><a href="/Authority/History"><i class="glyphicon glyphicon-road"></i>&nbsp;申请历史</a></li>
        <li><a href="/Authority/Manager"><i class="glyphicon glyphicon-cog"></i>&nbsp;授权审批</a></li>
        <li><a href="/Authority/CHistory"><i class="glyphicon glyphicon-flag"></i>&nbsp;审批历史</a></li>
    }else if (groupType == GroupType.Member)
    {
        <li><a href="/Authority/Apply"><i class="glyphicon glyphicon-flag"></i>&nbsp;申请权限</a></li>
        <li><a href="/Authority/History"><i class="glyphicon glyphicon-road"></i>&nbsp;申请历史</a></li>
    }
</ul>
