@model ProgressTable
@{
    Layout = null;
    if (Model == null||Model.WorkLoads==null)
    {
        return;
    }
    Model.WorkLoads = Model.WorkLoads.OrderByDescending(e => e.Percent).ToList();
    var labels = Model.WorkLoads.Select(e => e.User.RealName).ToArray();
    var values = Model.WorkLoads.Select(e =>Math.Round(e.Percent,2)).ToArray();
}

<script>
    $(function () {
        var labels=@Html.Raw(labels.ToJson())||[];
        var values=@Html.Raw(values.ToJson())||[];
        var year=@Html.Raw(Model.Year);
        var ctx=document.getElementsByName("Chart-"+year);
        //var ctx=document.getElementById("Chart-Workload");
        var myChart=new Chart(ctx,{
            type:'pie',
            data:{
                labels:labels,
                datasets:[{
                    data:values,
                    backgroundColor:getChartColors2(values.length)
                }]
            }
        });
    });
</script>
<canvas name="Chart-@(Model.Year)"></canvas>
@*<div class="panel panel-primary">
    <div class="panel-heading">项目工作量</div>
    <div class="panel-body">
        <div class="col-md-6">
           
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>参与人员</th>
                        <th>工作量</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WorkLoads)
                    {
                        <tr>
                            <td>@(item.User.RealName)</td>
                            <td>@(item.Percent)%</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>*@

