@model List<WorkLoad>
@{
    Layout = null;
    if (Model == null)
    {
        return;
    }
    
    var labels = Model.Select(e => e.User.RealName).ToArray();
    var values = Model.Select(e =>Math.Round(e.Percent,2)).ToArray();
}
<script src="~/Scripts/2/Chart.js"></script>
<script src="~/Scripts/2/TodoChart.js"></script>
<script>
    $(function () {
        var labels=@Html.Raw(labels.ToJson())||[];
        var values=@Html.Raw(values.ToJson())||[];
        var ctx=document.getElementById("Chart-Workload");
        var myChart=new Chart(ctx,{
            type:'pie',
            data:{
                labels:labels,
                datasets:[{
                    data:values,
                    backgroundColor:getChartColors2(values.length)
                }]
            }
        });
    });
</script>

<div class="panel panel-primary">
    <div class="panel-heading">项目工作量</div>
    <div class="panel-body">
        <div class="col-md-6">
            <canvas id="Chart-Workload"></canvas>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>参与人员</th>
                        <th>工作量</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.User.RealName)</td>
                            <td>@(item.Percent)%</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

