@{ 
    ProjectProgress progress = ViewBag.Progress;
}

<div class="page-header">
    <h3 class="text-center">编辑工作进度</h3>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label class="control-label col-xs-3">工作进度：</label>
                <div class="col-xs-7">
                    <div class="input-group input-group-sm">
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
