
@{
    ViewBag.Title = "程序更新日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="panel panel-green">
    <div class="panel panel-heading">
        <h3 class="panel-title">
            更新日志
        </h3>
    </div>
  
    <div class="panel panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>类别</th>
                    <th class="col-md-8">内容</th>
                    <th>反馈人</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">2016-05-16</td>
                    <td >BUG</td>
                    <td>1、修改文件上传文件大小设置为最大100M;</td>
                    <td rowspan="7">袁洋</td>
                </tr>
                <tr>
                    <td rowspan="2">修改建议</td>
                    <td>2、任务系统中，创建任务按钮在上面也放一个；</td>
                </tr>
                <tr>
                    <td>3、在客户端中创建任务选择用户4个一行显示</td>
                </tr>
                <tr>
                    <td>上线</td>
                    <td>4、上传报销系统以及财务汇总对账系统</td>
                </tr>
                <tr>
                    <td rowspan="3">2016-05-17</td>
                    <td>UI修改</td>
                    <td>1、修改报销系统中报销查询的窗口缩小重叠；</td>
                </tr>
                <tr>
                    <td>出差报销填报</td>
                    <td>
                        2、修改交通费用填报方式;<br />
                           &nbsp; &nbsp; 在公司车一栏中增加选择司机，并且根据不同的司机自动计算车补金额,同时在修改过路费以及油费的时候，自动合计公司车总金额；<br />
                           &nbsp; &nbsp; 在自备车一栏中自动计算公里数*1.5车补金额,并且将油费一栏去掉；<br />
                    </td>
                </tr>
                <tr>
                    <td>智能优化</td>
                    <td>3、报销金额自动合计</td>
                </tr>
                <tr>
                    <td>2016-05-23</td>
                    <td>功能增加</td>
                    <td>1、任务系统嵌入钉钉微应用;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2016-05-24</td>
                    <td>工业用地</td>
                    <td>1、与规划院商讨潜力计算模式，并根据政策修改对应的潜力计算统计表5、表6（工作量2天）</td>
                    <td>梁志卿</td>
                </tr>
                <tr>
                    <td>2016-05-25</td>
                    <td>单机</td>
                    <td>1、城市集约利用评价单机版本程序（工作量1天）</td>
                    <td>陈立定</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-05-30</td>
                    <td rowspan="2">交通控制研究中心</td>
                    <td>1、交通综合数据库管理系统每个窗体更改显示图标；</td>
                    <td rowspan="2">周韬</td>
                </tr>
                <tr>
                    <td>2、将交通综合数据库管理系统打包成安装程序（工作量半天）花费打包比较久（用了visual studio installer,创建的桌面快捷方式没有文字；之后用inno setup 打包）</td>
                </tr>
                <tr>
                    <td rowspan="2">Todo-Bug</td>
                    <td>1、在报销系统的界面时，右键Todo，出错；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、在报销系统状态下，接收到任务提醒后，点击后出错;</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-05-31</td>
                    <td rowspan="2">Todo-Bug</td>
                    <td>1、创建任务时，点击时间问题，例如2016-05-31，点击"今天",显示时间为：2016-05-31；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、评论任务的时候，弹出提醒；（工作量：半天）</td>
                </tr>
                <tr>
                    <td rowspan="5">2016-06-01</td>
                    <td rowspan="2">系统演示</td>
                    <td>1、准备海宁市许村镇一张图系统的部署配置；</td>
                    <td rowspan="2">赵斯思</td>
                </tr>
                <tr>
                    <td>2、交通综合数据库管理系统部署配置</td>
                </tr>
                <tr>
                    <td rowspan="3">报销系统</td>
                    <td>1、将银行对账单归纳为：收入（实际收入、保证金收入、还款）；支出（实际支出、保证金支出、借款、过账、备用金），并且对以上收支做出汇总表格</td>
                    <td>申屠杜平</td>
                </tr>
                <tr>
                    <td>2、日常报销归档为：招待费用、办公费用、市内交通、耗材费用、评审费用、印刷装订、福利费用、快递通信、财务费用、招标费用、活动费用、其他</td>
                    <td>靳晓阳</td>
                </tr>
                <tr>
                    <td>3、初期完成银行对账单的添加、编辑、导出、汇总；以及对汇总单的打印</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">2016-06-02</td>
                    <td>软件产品评估费</td>
                    <td>1、送书面材料到软件行业协会，以及处理相关软件产品评估事宜</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td>程序演示</td>
                    <td>2、海宁市许村镇一张图系统以及交通综合数据库管理系统</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td>2016-06-03</td>
                    <td>浙江省农村存量建设用地调查数据库</td>
                    <td>1、初步整理质量检查规则</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-06-06</td>
                    <td>浙江省农村存量建设用地调查数据库</td>
                    <td>1、整理罗列好检查规则；2、完成检验mdb数据库中是否存在某一张表</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td>报销系统对接</td>
                    <td>2、将日常报销大类归纳为：日常办公、固定资产、耗材、交通费、维护维修、邮电费、印刷装订、招待费、福利费、评审费、招投标费、财务费和其他</td>
                    <td>申屠杜平</td>
                </tr>
                <tr>
                    <td rowspan="3">2016-06-07</td>
                    <td rowspan="3">报销系统</td>
                    <th>1、完成出差报销栏中交通费用详情排版，同时将公司车中车牌作为下拉菜单选择，浙AZN022、浙A4RS85</th>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td>2、完成日常报销大类的基础上，添加二级分类,固定资产分为设备、家具和其他；耗材分为纸、墨盒、硒鼓和其他；交通费分为市内交通、车辆相关和其他；邮电费分为邮寄、通讯和其他；印刷装订分为印刷、复印、装订和其他；福利费分为节日福利、日常福利和其他；招投标费分为代理费、报名费、标书费和其他</td>
                    <td rowspan="2">申屠杜平</td>
                </tr>
                <tr>
                    <td>3、填写银行对账单的时候，选择支出->实际支出的时候，用户选择日常办公、固定资产、耗材、交通费、维护维修费、邮电费、印刷装订费、招待费、评审费、招投标费、财务费和其他</td>
                </tr>
                <tr>
                    <td rowspan="61">2016-06-12</td>
                    <td rowspan="61">农村存量建设用地调查</td>
                    <th>1、完成检查数据库中是否按照标准创建表；</th>
                    <td rowspan="61">赵斯思</td>
                </tr>
                <tr>
                    <th>2、完成对表5 行政区要素基本属性结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查表中字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照要求填写；</td>
                </tr>
                <tr>
                    <td>c:检查行政区代码填写是否符合要求；</td>
                </tr>
                <tr>
                    <th>3、完成对表6 行政区界线要素基本属性结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查表中字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照要求填写；</td>
                </tr>
                <tr>
                    <td>c:检查界线类型是否按照要求范围填写；</td>
                </tr>
                <tr>
                    <td>d:检查界线性质是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <th>4、完成对表7 调查单元图斑要素基本属性结构表，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查表中字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照标准填写；</td>
                </tr>
                <tr>
                    <td>c:检查图斑编号是否唯一；</td>
                </tr>
                <tr>
                    <td>d:检查调查单元类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <th>5、完成对表8 存量找基地要素基本属性结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查表中字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照标准填写；</td>
                </tr>
                <tr>
                    <td>c:检查调查编号是否唯一；</td>
                </tr>
                <tr>
                    <td>d:检查图斑编号是否唯一；</td>
                </tr>
                <tr>
                    <td>e:检查权属来源是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>f:检查建筑类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>g:检查利用状态是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>h:检查农户类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>i:检查空置原因是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>j:检查废弃原因是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>k:检查当利用状态为1时，人均在家居住月数、空置原因、废弃原因，其他原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>l:检查当利用状态为2时，人均在家居住月数、空置原因、废弃原因、其他原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>m:检查利用状态为3时，人均在家居住月数、空置原因、废弃原因、其他原因的逻辑填写；</td>
                </tr>
                <tr>
                    <th>6、完成对表9 经营性建设用地要素基本属性结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查调查编号是否唯一；</td>
                </tr>
                <tr>
                    <td>c:检查图斑编号是否唯一；</td>
                </tr>
                <tr>
                    <td>d:检查土地取得方式是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>e:检查建筑类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>f:检查利用状态是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>g:检查利用状态为1时，用途、年税收额、就业人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>h:检查利用状态为2时，用途、年税收额、就业人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>i:检查利用状态为3时，用途、年税收额、就业人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <th>7、完成对表10  公共管理及公共服务设施用地要素基本结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照标准填写；</td>
                </tr>
                <tr>
                    <td>c:检查调查编号是否唯一；</td>
                </tr>
                <tr>
                    <td>d:检查图斑编号是否唯一；</td>
                </tr>
                <tr>
                    <td>e:检查土地取得方式是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>f:检查建筑类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>g:检查利用状态是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>h:检查利用状态为1时，用途、服务人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>i:检查利用状态为2时，用途、服务人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>j:检查利用状态为3时，用途、服务人数、空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <th>8、完成对表11 其他存量用地要素基本属性结构表的检查，具体检查如下：</th>
                </tr>
                <tr>
                    <td>a:检查字段是否按照标准创建；</td>
                </tr>
                <tr>
                    <td>b:检查要素代码是否按照标准填写；</td>
                </tr>
                <tr>
                    <td>c:检查调查编号是否唯一；</td>
                </tr>
                <tr>
                    <td>d:检查图斑编号是否唯一；</td>
                </tr>
                <tr>
                    <td>e:检查建筑类型是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>f:检查利用状态是否按照要求内容填写；</td>
                </tr>
                <tr>
                    <td>g:检查利用状态为1时，空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>h:检查利用状态为2时，空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <td>i:检查利用状态为3时，空置原因、废弃原因的逻辑填写；</td>
                </tr>
                <tr>
                    <th>9、完成图斑编号在存量宅基地要素基本属性结构表、经营性建设用地要素基本属性结构表、公共管理及公共服务设施用地要素基本结构表、其他存量用地要素基本属性结构表的逻辑填写</th>
                </tr>
                <tr>
                    <td>2016-06-14</td>
                    <td>陆吾移动地理信息一张图</td>
                    <td>1、将陆吾移动地理信息一张图使用说明书缩减至4、5页；</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-06-15</td>
                    <td rowspan="4">智拓项目财务跟踪系统</td>
                    <td>1、完成市场人员的合同信息的录入；</td>
                    <td rowspan="4">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成市场人员的申请开具发票；</td>
                </tr>
                <tr>
                    <td>3、完成财务人员对开具发票申请并开具发票之后，在系统中补充发票信息；</td>
                </tr>
                <tr>
                    <td>4、完成财务人员对已经已开发票信息进行修改发票状态;</td>
                </tr>
                <tr>
                    <td  rowspan="3">2016-06-16</td>
                    <td>陆吾地理信息移动一张图系统</td>
                    <td>1、购买iPad Air 2 64G，开具发票编号：3300154320；</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="2">智拓项目财务跟踪系统</td>
                    <td>1、完成到账情况的信息录入，并且将到账信息与开票信息关联！</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成市场人员或项目人员对发票申请进行编辑、删除操作！</td>
                </tr>
                <tr>
                    <td>2016-06-17</td>
                    <td>项目管理系统</td>
                    <td>1、应袁总要求，将项目财务追踪系统更名为项目管理系统；</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-06-20</td>
                    <td rowspan="2">项目管理系统</td>
                    <td>1、完成发票查询功能；</td>
                    <td rowspan="4">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成在发票查询结果中超链接访问发票信息到账记录详情;</td>
                </tr>
                <tr>
                    <td rowspan="2">任务系统</td>
                    <td>1、任务系统中超过预期的任务，将加粗、并且字体为红色显示；</td>
                </tr>
                <tr>
                    <td>2、制作ZtopTodo安装及使用说明书，并在平台上更新后台；</td>
                </tr>
                <tr>
                    <td rowspan="5">2016-06-21</td>
                    <td rowspan="5">项目管理系统</td>
                    <td>1、完成合同查询功能，并且超链接到合同详情;</td>
                    <td rowspan="5">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成申请开具发票，并关联相关合同；</td>
                </tr>
                <tr>
                    <td>3、完成合同的编辑功能；</td>
                </tr>
                <tr>
                    <td>4、完成合同的删除功能；</td>
                </tr>
                <tr>
                    <td>5、完成合同的归档功能;</td>
                </tr>
                <tr>
                    <td>2016-06-22</td>
                    <td>陆吾科技</td>
                    <td>1、扫描上海浦东发展银行申请单，引荐卡片、代保管收入凭证、代保管付出凭证等，并剪切到去白，水平；</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-06-23</td>
                    <td rowspan="2">报销系统</td>
                    <td>1、修复主管填写报销单，提交自己没有开放审核通过的按钮BUG；</td>
                    <td rowspan="2">申屠杜平</td>
                </tr>
                <tr>
                    <td>2、增加月银行对账单批量导入文件功能；</td>
                </tr>
                <tr>
                    <td>2016-06-24</td>
                    <td>项目管理系统</td>
                    <td>1、修改入账录入关联发票以搜索方式找到需要关联的发票，并填写关联金额；</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-06-28</td>
                    <td rowspan="4">报销系统</td>
                    <td>1、增加录入出差人员</td>
                    <td rowspan="4">申屠杜平</td>
                </tr>
                <tr>
                    <td>2、在交通费用详情栏交通工具作为下拉菜单选择，并且分为公共交通和自驾车两大类，公共交通有：飞机、火车、客运大巴、出租车、公交车、地铁以及互联网平台用车；自驾车有：公司车和自备车</td>
                </tr>
                <tr>
                    <td>3、补贴详情的人员与录入出差人员关联，并且动态指定人员的具体出差时间！</td>
                </tr>
                <tr>
                    <td>4、精简出差报销填写页面</td>
                </tr>
                <tr>
                    <td rowspan="3">2016-06-29</td>
                    <td rowspan="2">银行对账系统</td>
                    <td>1、将添加银行对账单，输入记录模板修改为：交易日期、支出、收入、账户余额、对方单位、摘要、类别选择</td>
                    <td rowspan="2">靳得阳</td>
                </tr>
                <tr>
                    <td>2、增加银行对账单，Excel文件导入功能，用户上传已经填写好的Excel格式的银行对账文件，点击上传分析；</td>
                </tr>
                <tr>
                    <td>项目管理系统</td>
                    <td>1、修改合同的信息，合同的信息：合同流水号、填报人、合同名称、合同起始时间、合同结束时间（可选）、对方单位、合同所属组织、合同金额、合同相关文件、付款方式、履约保证金</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-06-30</td>
                    <td rowspan="4">项目管理系统</td>
                    <td>1、编辑合同适配新的合同的信息，并且可以根据相关文件进行添加删除功能；</td>
                    <td rowspan="4">袁洋</td>
                </tr>
                <tr>
                    <td>2、在查看合同的时候，申请开具发票UI进行优化;</td>
                </tr>
                <tr>
                    <td>3、发票申请的时候，选择发票所关联的合同，完成可以通过时间、合同名称、对方单位等筛选合同查看，并将需要关联的合同关联；</td>
                </tr>
                <tr>
                    <td>4、根据需求，增加项目合同关联部门信息;</td>
                </tr>
                <tr>
                    <td rowspan="6">2016-07-06</td>
                    <td rowspan="6">项目管理系统</td>
                    <td>1、完善申请开具发票的步骤，项目人员或者市场人员可以对未开具的发票申请进行编辑、删除操作，并且根据发票开具情况或者退票红票，更新合同的发票开具情况！</td>
                    <td rowspan="6">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成项目人员只能看到自己的项目信息权限</td>
                </tr>
                <tr>
                    <td>3、完成到账查询引擎；</td>
                </tr>
                <tr>
                    <td>4、完成到账情况的查看；</td>
                </tr>
                <tr>
                    <td>5、完成将到账信息与发票关联；</td>
                </tr>
                <tr>
                    <td>6、初步完成项目管理系统；</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-07-07</td>
                    <td rowspan="2">任务系统</td>
                    <td>1、完成任务排序是根据截止日期到今天的时间差排序，越需要最近完成的排在越前面；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、已完成任务列表不需要显示在首页；</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-07-08</td>
                    <td rowspan="2">项目管理系统</td>
                    <td>1、完成录入项目；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、在录入合同的时候，可通过查询项目跟合同关联；</td>
                </tr>
                <tr>
                    <td>2016-07-10</td>
                    <td>项目管理系统</td>
                    <td>1、录入项目的时候，可通过查询合同跟项目关联；</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td rowspan="4">2016-07-11</td>
                    <td rowspan="4">项目管理系统</td>
                    <td>1、在合同中申请开具发票的时候，对方初始时自动填写为合同信息中的对方单位，并可以修改;</td>
                    <td rowspan="4">袁洋</td>
                </tr>
                <tr>
                    <td>2、在合同中申请开具发票的时候，发票内容初始时自动填写为合同信息中的合同名称，并可以修改；</td>
                </tr>
                <tr>
                    <td>3、完成对项目的删除、编辑操作；</td>
                </tr>
                <tr>
                    <td>4、完成项目详情页中点击新建合同，合同中自动填入项目的对方单位；</td>
                </tr>
                <tr>
                    <td>2016-07-12</td>
                    <td>不知名项目</td>
                    <td>1、去浙江大学西溪校区，跟张老师拿U盘，并将U盘数据打包发送给赵斯思，2、将光盘和U盘送回张老师的住所；</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-07-13</td>
                    <td rowspan="2">项目管理系统</td>
                    <td>1、完成合同的所有款项都已经到账，合同自动被标志位归档；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、完成到账记录跟合同挂账；</td>
                </tr>
                <tr>
                    <td>2016-07-14</td>
                    <td>其他</td>
                    <td>1、拷贝CT</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-07-15</td>
                    <td>项目管理系统</td>
                    <td>1、项目管理系统V1.1正式试用</td>
                    <td>袁洋</td>
                </tr>
                <tr>
                    <td>软件认证</td>
                    <td>1、软件证书正式颁发（陆吾移动地理信息一张图）</td>
                    <td>赵斯思</td>
                </tr>
                <tr>
                    <td rowspan="3">2016-07-19</td>
                    <td rowspan="3">报销系统</td>
                    <td>1、修改报销系统首页增加明显标示；</td>
                    <td rowspan="3">彭盛状</td>
                </tr>
                <tr>
                    <td>2、修复报销单号为0000000的问题；</td>
                </tr>
                <tr>
                    <td>3、出差报销中增加填写“出差事由或出差项目”；</td>
                </tr>
                <tr>
                    <td>2016-07-22</td>
                    <td>嘉兴市南湖区农业经济局粮食功能区建设优化完善政府合同</td>
                    <td>1、初步准备好一张图平台以及平板数据（数据等待蔡总提供）；</td>
                    <td>智拓</td>
                </tr>
                <tr>
                    <td>2016-08-08</td>
                    <td>报销系统</td>
                    <td>1、确认报销步骤：报销填单、主管审核、财务负责人核准、报销确认和归档；</td>
                    <td>申屠杜平</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-10-9</td>
                    <td rowspan="2">项目管理系统</td>
                    <td>1、修复俞海峰弹窗问题</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、录入合同时，修改对方单位为甲方；</td>
                </tr>
                <tr>
                    <td rowspan="6">2016-10-14</td>
                    <td rowspan="6">项目管理系统</td>
                    <td>1、取消合同起始时间和结束时间；</td>
                    <td rowspan="6">袁洋</td>
                </tr>
                <tr>
                    <td>2、增加合同流转时间、合同取回时间（自动判断上传pdf的时间）、登记编号（7位数字）、备注；</td>
                </tr>
                <tr>
                    <td>3、开票单位无需选择，默认合同的单位；</td>
                </tr>
                <tr>
                    <td>4、开票 检查金额累计不能超过合同金额；</td>
                </tr>
                <tr>
                    <td>5、发票补充信息可以编辑；</td>
                </tr>
                <tr>
                    <td>6、合同添加后可编辑</td>
                </tr>
                <tr>
                    <td rowspan="2">2016-11-1</td>
                    <td rowspan="2">权限系统</td>
                    <td>1、将权限组分城市归档，并且增加全选组和全不选；</td>
                    <td rowspan="2">袁洋</td>
                </tr>
                <tr>
                    <td>2、修复授权人员管理组增加到一定量之后，无法继续增加问题;</td>
                </tr>
                <tr>
                    <td rowspan="5">2016-11-19</td>
                    <td rowspan="5">项目管理系统</td>
                    <td>1、增加发票信息单独页面；</td>
                    <td rowspan="5">袁洋</td>
                </tr>
                <tr>
                    <td>2、录入合同中修改所属项目为所属洽谈；</td>
                </tr>
                <tr>
                    <td>3、录入合同中登记编号修改必填为选填；</td>
                </tr>
                <tr>
                    <td>4、在录入合同扫描件的时候，修改上传PDF失败问题;</td>
                </tr>
                <tr>
                    <td>5、袁洋增开对任何合同的编辑和删除权限;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

