
@{
    ViewBag.Title = "程序更新日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="panel panel-green">
    <div class="panel panel-heading">
        <h3 class="panel-title">
            更新日志
        </h3>
    </div>
  
    <div class="panel panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>类别</th>
                    <th>内容</th>
                    <th>反馈人</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">2016-05-16</td>
                    <td >BUG</td>
                    <td>1、修改文件上传文件大小设置为最大100M;</td>
                    <td rowspan="7">袁洋</td>
                </tr>
                <tr>
                    <td rowspan="2">修改建议</td>
                    <td>2、任务系统中，创建任务按钮在上面也放一个；</td>
                </tr>
                <tr>
                    <td>3、在客户端中创建任务选择用户4个一行显示</td>
                </tr>
                <tr>
                    <td>上线</td>
                    <td>4、上传报销系统以及财务汇总对账系统</td>
                </tr>
                <tr>
                    <td rowspan="3">2016-05-17</td>
                    <td>UI修改</td>
                    <td>1、修改报销系统中报销查询的窗口缩小重叠；</td>
                </tr>
                <tr>
                    <td>出差报销填报</td>
                    <td>
                        2、修改交通费用填报方式;<br />
                           &nbsp; &nbsp; 在公司车一栏中增加选择司机，并且根据不同的司机自动计算车补金额,同时在修改过路费以及油费的时候，自动合计公司车总金额；<br />
                           &nbsp; &nbsp; 在自备车一栏中自动计算公里数*1.5车补金额,并且将油费一栏去掉；<br />
                    </td>
                </tr>
                <tr>
                    <td>智能优化</td>
                    <td>3、报销金额自动合计</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

