
@{
    ViewBag.Title = "资源下载";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <td>文件大小(M)</td>
            <td>文件类型</td>
            <th>下载</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>VPN以及外网登录AM方法配置</td>
            <td>4.29M</td>
            <td>*.rar</td>
            <td><a href="/VPN.rar"><i class="fa fa-cloud-download"></i></a></td>
        </tr>
        <tr>
            <td>#</td>
            <td>客户端</td>
            <td>16.4M</td>
            <td>*.zip</td>
            <td><a href="/智拓OA安装包.exe"><i class="fa fa-cloud-download"></i></a></td>
        </tr>
        <tr>
            <td>#</td>
            <td>使用说明书</td>
            <td>2.62M</td>
            <td>*.doc</td>
            <td><a href="/智拓OA平台使用手册.doc"><i class="fa fa-cloud-download"></i></a></td>
        </tr>
    </tbody>
</table>

