@{
    Layout = null;
    List<UserGroup> groups = ViewBag.Groups;
    List<User> allUsers = ViewBag.AllUsers;
    List<User> selectedUsers = ViewBag.Users ?? new List<User>();

    var users = allUsers.GroupBy(e => e.GroupID).ToDictionary(g => g.Key, g => g.ToList());
}
<div class="form-group">
    <div>
        <label class="label-control">选择成员</label>
    </div>
    @foreach (var g in users)
    {
        var groupId = g.Key;
        var group = groups.FirstOrDefault(e => e.ID == groupId) ?? new UserGroup { ID = 0, Name = "未分组" };
        <table class="table">
            <tr>
                <th>@(group.Name)</th>
            </tr>
            <tr>
                <td>
                    @foreach (var user in g.Value.Where(e => e.GroupID == group.ID))
                    {
                        if(user.DisplayName == Identity.Name)
                        {
                            continue;
                        }
                        <label class="checkbox-inline"><input type="checkbox" name="userIds" value="@(user.ID)" />@(user.DisplayName)</label>
                    }
                </td>
            </tr>
        </table>

    }
</div>
