
@{
    ViewBag.Title = "对账系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Bank> evaluations = ViewBag.Evaluations;
    List<Bank> projections = ViewBag.Projections;
    List<string> Districts = ViewBag.Districts;
}

<div class="col-md-12">
    <h2>@(Identity.Name)  您好! &nbsp;&nbsp;</h2>
</div>


<div class="col-md-4">
    <div class="panel panel-green">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                房地产评估咨询有限公司  银行对账单
            </h3>
           
        </div>
        <div class="panel panel-body">
          
           
            <table class="table table-striped">
                <tr>
                    <td>
                        <a href="/Bank/Create?Company=@(Company.Evaluation)" class="btn btn-sm"><i class="glyphicon glyphicon-plus"></i>添加</a>
                    </td>
                </tr>
                @foreach (var bank in evaluations)
                {
                    <tr>
                        <td><a href="/Bank/Detail?id=@(bank.ID)">@(bank.Year)年@(bank.Month)月</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-yellow">
        <div class="panel panel-heading">
            <h3 class="panel-title">
                土地规划设计咨询有限公司  银行对账单
            </h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                <tr>
                    <td>
                        <a href="/Bank/Create?Company=@(Company.Projection)" class="btn btn-sm"><i class="glyphicon glyphicon-plus"></i>添加</a>
                    </td>
                </tr>
                @foreach (var bank in projections)
                {
                    <tr>
                        <td><a href="/Bank/Detail?id=@(bank.ID)">@(bank.Year)年@(bank.Month)月</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-red">
        <div class="panel panel-heading">
            <div class="panel-title">
                收支汇总
            </div>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                @foreach (var item in Districts)
                {
                    var query = item.Replace("年", ",").Replace("月", "").Split(',');
                    var year = int.Parse(query[0]);
                    var month = int.Parse(query[1]);
                    <tr>
                        <td><a href="/Bank/Collect?year=@(year)&&month=@(month)">@(item)</a></td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>



