@{
    Layout = null;
    List<Sheet> sheets = ViewBag.Sheets;
}

<h3 class="text-center">@(string.Format("{0}年{1}报销情况",Request.QueryString["year"],Request.QueryString["month"]==null?"度":Request.QueryString["month"].ToString()+"月"))</h3>
@if (sheets != null && sheets.Count > 0)
{
    <div class="row">
        @{
            Html.RenderAction("CollectCategory", new { Sheets = sheets });
        }
    </div>
    <hr />
    <div class="row">
        @{
            Html.RenderPartial("ViewSheets", sheets as object);
        }
    </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <span>本月无报销数据</span>
                </div>
            }




