<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DbConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.31.197;Initial Catalog=ztoptodo;User ID=ztop;Password=123456" />
  </connectionStrings>
  <appSettings>
    <add key="AServer" value="LDAP://10.22.102.9"/>
    <add key="Name" value="Administrator"/>
    <add key="Password" value="Admin123"/>
    <add key="IGNORE" value="SystemInfo.xml"/>
    <add key="PEOPLE" value="内部用户" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="4176" maxQueryStringLength="4176" requestPathInvalidCharacters="" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="AuthenticateModule" type="Ztop.Todo.Web.AuthenticateModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough"></httpErrors>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="4176"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>