
@{
    ViewBag.Title = "命";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
            命里有时终须有，命里无时莫强求
        </h2>
        
    </div>
</div>

