@model int
@using Ztop.Todo.ActiveDirectory;
@{
    List<UserGroup> groups = ViewBag.Groups;
    List<User> allUsers = ViewBag.Users;
    string users = ViewBag.UsersList;
    var checks = users.Split(';');
}

<div class="form-group">
    @foreach(var group in groups.OrderByDescending(e => e.Order))
    {
        <table class="table">
            <tr>
                <th>@(group.Name)</th>
            </tr>
            @{ 
                var table = allUsers.Where(e => e.GroupID == group.ID).OrderByDescending(e => e.Order).ToList().ListToTable(4);
                foreach(var item in table)
                {
                    <tr>
                        @foreach(var entry in item)
                        {
                            if (entry != null)
                            {
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="@(entry.DisplayName)" name="Businesser@(Model)" @(checks.Contains(entry.DisplayName)?"checked=checked":"") />@(entry.DisplayName)
                                    </label>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    }
</div>

