
@{
    ViewBag.Title = "报销归档";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal{
        display:block;
        position:static;
        overflow:auto;
    }
</style>



<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
    <br />
    <h3 class="text-center">报销归档</h3>
    <br />
    <br />
    <div class="form-group has-success has-feedback">
        <input class="form-control" name="key" style="height:50px;" onkeyup="showFiling(this.value)"  />
    </div>
    <div class="alert alert-warning" role="alert" id="filling-result" >
        <span>成功归档</span>
    </div>
</div>
<div id="Result" class="col-md-12">
</div>
<div class="hidden" id="Text">
    <div class="modal" id="{Index}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">报销归档</h4>
                </div>
                <form class="form-horizontal" method="post" id="Form{Index}">
                    <div class="modal-body">
                        <input type="hidden" name="ID" value="{ID}" />
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3">条形码:</label>
                                <div class="col-md-8">
                                    <img src="/{Path}" /> <br />
                                    &nbsp;&nbsp;<span class="text-center">{Index}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">单据编号:</label>
                                <div class="col-md-8">
                                    <input name="" value="{CheckIndex}" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">报销人:</label>
                                <div class="col-md-8">
                                    <input name="Name" value="{Name}" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">报销总金额（元）:</label>
                                <div class="col-md-8">
                                    <input name="Money" value="{Money}" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">确认时间：</label>
                                <div class="col-md-8">
                                    <input name="CheckTime" value="{CheckTime}" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" targetId="{Index}" name="Cancel"><i class="glyphicon glyphicon-remove-circle"></i> 取消</button>
                        <button type="button" class="btn btn-primary" targetId="{Index}" name="Filing"><i class="glyphicon glyphicon-ok-circle"></i> 归档</button>
                    </div>
                </form>      
            </div>
        </div>
    </div>
</div>


<script>
    var html = document.getElementById("Text").innerHTML;

    $("#filling-result").hide();
    function showFiling(key) {
        if (key.length == 0||key.length!=10) {
            $("#Result").empty();
            return;
        }

        $.getJSON("/Report/Search?key=" + key, function (json) {
            var data = json;
            var Result = "";
            var temp = "";
            for (var i = 0; i < data.length; i++) {
                temp = html;
                var a = data[i].CheckTime.replace("/Date(", "").replace(")/", "");
                
                var time = new Date();
                time.setTime(a);
                var timeString = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
                temp = temp.replace(/{Index}/g, data[i].PrintNumber).replace("{CheckIndex}",data[i].CheckNumber).replace("{ID}", data[i].ID).replace("{Path}", data[i].BarCode).replace("{Name}", data[i].Name).replace("{Money}", data[i].Money).replace("{CheckTime}", timeString);
                Result += temp;
            }
            $("#filling-result").hide();
            $("#Result").empty().append(Result);

            $("button[name='Filing']").unbind("click").bind("click", function () {
                CheckFilling();
            })
            $("button[name='Cancel']").unbind("click").bind("click", function () {
                var id = $(this).attr("targetId");
                $("#" + id).remove();
            });

            $("input[name='key']").val("");

        });
    }

    function CheckFilling() {
        var id = $("#Result button[name='Filing']").attr("targetId");
        var data = $("#Form" + id).serialize();
        $.request("/Report/Check", data, function (json) {
            $("#filling-result>span").html("成功归档报销");
            $("#filling-result").show(500);
            $("#" + id).delay(1000).remove();
            $("[name='key']").val("").focus();
            return false;
        });
        return false;
    }

    $(function () {
        $("input[name='key']").focus(function () {
            $(this).val("");
        });

        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                var id = $("#Result button[name='Filing']").attr("targetId");
                if (id != undefined&&document.getElementById("Result").innerHTML != "") {
                    CheckFilling();
                    return false;
                }
                return false;
            }
        });
    })
</script>

