@{
    ViewBag.Title = "报销系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sheet> list = ViewBag.List;
    DateTime startTime = Convert.ToDateTime("2016-07-31 00:00:00");

}



<div class="col-md-12">
    <div class="page-header">
        <h3>@(Identity.Name)  您好! &nbsp;&nbsp;</h3>
    </div>

    @if (Identity.Director || Identity.Name == "靳小阳")
    {
        <div class="alert alert-warning">
            <span>提交审核的报销单列表迁移到审核管理页面，当前页面只显示您的报销单列表！</span>
        </div>
    }
  
    @if (Identity.Name == "蒋雷"||Identity.Name=="袁洋"||Identity.Name== "申屠杜平")
    {
        <form class="form-inline" action="/Report/DownloadExcel" id="Server-form">
            <input type="hidden" name="Name" value="申屠杜平" />
            <input type="hidden" name="Order" value="Time" />
            <input type="hidden" name="Content"  value="日常招待费"/>
            <input type="hidden" name="SheetType" value="日常报销" />
            <div class="form-group">
                <label class="control-label">&nbsp;月份：</label>
                <select name="Month" class="form-control input-sm">
                    @for(var i = DateTime.Now; i >= startTime; i = i.AddMonths(-1))
                    {
                        var val = string.Format("{0}年{1}月", i.Year, i.Month);
                        <option value="@val">@(val)</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" data-loading-text="正在下载......" autocomplete="off"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;下载招待费Excel</button>
        </form>
       @*<a href="/Report/DownloadExcel?name=申屠杜平&&order=@(Order.Time)&&content=日常招待费&&sheetType=日常报销" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-download"></i>下载招待费Excel</a>*@
       <hr />
    }
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        @{ 
            Html.RenderPartial("_Cash", list.Where(e => e.Status == Status.Cash).ToList() as object);
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        @{ 
            Html.RenderPartial("_OutLine", list.Where(e => e.Status == Status.OutLine).ToList() as object);
        }
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">

        @{ 
            Html.RenderPartial("_Check", list.Where(e => (((int)e.Status) > 0 && ((int)e.Status) < 5) || e.Status == Status.RollBack).ToList() as object);
        }
    </div> 
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12" >
        @{ 
            Html.RenderPartial("_Done", list.Where(e => e.Status == Status.Examined).Take(10).ToList() as object);
        }
    </div>
</div>






