@model Ztop.Todo.Model.Sheet
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#WidthDrawal">
    <em class="glyphicon glyphicon-log-out"></em>退回
</button>

<div class="modal fade" id="WidthDrawal" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">退回</h4>
            </div>
            <form class="form-horizontal" method="post" action="" id="form-WithDrawal">
                <div class="modal-body">
                    <input type="text" name="id" value="@(Model.ID)" style="display:none" />

                    <div class="form-group">
                        <label class="control-label col-md-3">退回原因：</label>
                        <div class="col-md-9">
                            <input type="text" name="Reason" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
           
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#form-WithDrawal").submit(function () {
            if (confirm("您确定退回当前报销单吗？")) {
                var data = $(this).serialize();
                $.request("/Report/Reversion", data, function (json) {
                    location.href = "/Report";
                });
                return false;
            }
           
        })
    })
</script>