
@{
    ViewBag.Title = "录入到账信息";
}

<form class="form-horizontal" action="" method="post">
    <div class="form-group">
        <label class="control-label col-md-3">到账金额：</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" name="Money" />
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">对方户名：</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">银行备注：</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Remark" />
        </div>
    </div>
</form>

