
@{
    ViewBag.Title = "录入项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" action="" method="post">
    <h3 class="text-center">录入项目</h3>
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-4">项目名称：</label>
                <div class="col-md-8">
                    <input type="text" name="Name" class="form-control" placeholder="项目名称" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </div>
</form>

