
@{
    ViewBag.Title = "申请开具发票";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Contract> Contracts = ViewBag.Contract;
    //Dictionary<ZtopCompany, List<Contract>> dict = Contracts.GroupBy(e => e.ZtopCompany).ToDictionary(e => e.Key, e => e.ToList());
}

<h2 class="text-center">申请开具发票</h2>
<div class="row">

    <form class="form-horizontal" method="post" action="/Finance/SaveInvoice" id="Create">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
                <label class="control-label col-md-4">开票申请时间：</label>
                <div class="col-md-8">
                    <input type="text" name="Time" class="form-control" value="@(DateTime.Now.ToShortDateString())" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">开票单位：</label>
                <div class="col-md-8">
                    <select name="ZtopCompany" class="form-control">
                        @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                        {
                            <option value="@(company)">@(company.GetDescription())</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">发票金额：</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" name="Money" class="form-control" required="required" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
                <label class="control-label col-md-4">开票申请人：</label>
                <div class="col-md-8">
                    <input type="text" name="Applicant" value="@(Identity.Name)" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">对方单位：</label>
                <div class="col-md-8">
                    <input type="text" name="OtherSideCompany" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">发票内容：</label>
                <div class="col-md-8">
                    <input type="text" name="Content" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2">项目合同：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="hidden" name="CID" />
                        <input type="text" name="ContractName" class="form-control" placeholder="项目合同" readonly="readonly" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Project"><i class="glyphicon glyphicon-th-list"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>申请</button>
                    <button type="button" class="btn btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="Project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">项目合同</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 col-sm-4 well" style="padding:5px;">
                            <div class="alert alert-danger" role="alert">
                                <span>警告框</span>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label class="control-label">时间：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" name="StartTime" class="form-control datetimepicker input-sm" placeholder="起始时间" />
                                            <span class="input-group-addon input-sm">至</span>
                                            <input type="text" name="EndTime" class="form-control datetimepicker input-sm" placeholder="结束时间" />
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <label class="control-label">合同名称：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-success" name="Name">全部</button>
                                            </div>
                                            <input type="text" class="form-control input-sm" name="Name" placeholder="合同名称关键字" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">对方单位：</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" name="Company" class="btn btn-sm btn-success">全部</button>
                                            </div>
                                            <input type="text" class="form-control input-sm" name="Company" placeholder="对方单位关键字" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-sm btn-success btn-search"><i class="glyphicon glyphicon-search"></i>筛选</button>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                        <div class="col-md-8 col-xs-8 col-sm-8" style="padding:5px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>合同名称</th>
                                        <th>对方单位</th>
                                        <th>合同金额（元）</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="Contract-Result"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> 确定</button>
                </div>
            </div>
        </div>
    </div>
  
</div>







<script>
    $("div.alert.alert-danger").hide();
    $(function () {

        $("button.btn-search").click(function () {
            var startTime = $("input[name='StartTime']").val();
            var endTime = $("input[name='EndTime']").val();
            var name = $("input[name='Name']").val();
            var company = $("input[name='Company']").val();
            $.getJSON("/Finance/SearchContract", {
                startTime: startTime,
                endTime: endTime,
                name: name,
                company: company
            },function (data) {
                $("#Contract-Result").empty();
                $("div.alert.alert-danger").hide();
                $("div.alert.alert-danger>span").html("");
                if (data.length == 0) {
                    $("div.alert.alert-danger>span").html("未查询到相关项目合同！");
                    $("div.alert.alert-danger").show(500);
                    return false;
                }
                var html = "";
                $.each(data, function (index, value) {
                    var appendhtml = "<tr index='"+value.ID+"'><td name='Name"+value.ID+"'>" + value.Name + "</td><td>" + value.Company + "</td><td>" + value.Money + "</td><td name='"+value.ID+"'><i class='glyphicon glyphicon-refresh'></i></td></tr>";
                    html += appendhtml;
                });
                $("#Contract-Result").append(html);
                $("#Contract-Result>tr").unbind("click").bind("click", function () {
                    $("#Contract-Result>tr").each(function () {
                        $(this).removeClass("success");
                        var index = $(this).attr("index");
                        $("td[name='" + index + "']").empty().append("<i class='glyphicon glyphicon-refresh'></i>");
                    });
                    $(this).addClass("success");
                    var Index = $(this).attr("index");
                    $("input[name='CID']").val(Index);
                    $("input[name='ContractName']").val($("td[name='Name" + Index + "']").text());
                    $("td[name='"+Index+"']").empty().append("<i class='glyphicon glyphicon-ok'></i>")
                });
            });
        });
        $("#Create").submit(function () {
            var data = $(this).serialize();
            $.request("/Finance/SaveInvoice", data, function (json) {
                alert(json.content);
                if (json.result == 1) {
                    location.href = "/Finance/DetailInvoice?id=" + json.data.ID;
                }
                return false;
            });
            return false;
        });
    });
</script>

