
@{
    ViewBag.Title = "发票挂账";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> Department = ViewBag.Department;
}


<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:10px;">
        <div class="col-md-12 well" style="padding:0px;">
            <fieldset><legend>可关联到账查询设置</legend></fieldset>
            <div class="alert alert-danger" role="alert" id="Bill-Info">
                <span>警告框</span>
            </div>
            <form method="get" action="" id="Bill-Search">
               
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">到账时间：</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" name="StartTime" placeholder="起始时间" class="form-control datetimepicker input-sm"  />
                                    <span class="input-group-addon input-sm">至</span>
                                    <input type="text" name="EndTime" placeholder="结束时间" class="form-control datetimepicker input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">到账金额：</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" name="MinMoney" placeholder="最小值" class="form-control input-sm"  />
                                    <span class="input-group-addon input-sm">至</span>
                                    <input type="text" name="MaxMoney" placeholder="最大值" class="form-control input-sm"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">对方户名：</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-btn" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="OtherSide">全部</button>
                                    </div>
                                    <input type="text" name="OtherSide" placeholder="对方户名关键字" class="form-control input-sm"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">银行备注：</label>
                            <div class="col-md-12">
                                <div class="input-group" role="group">
                                    <div class="input-group-btn" role="group">
                                        <button type="button" class="btn btn-sm btn-success" name="Remark">全部</button>
                                    </div>
                                    <input type="text" name="Remark" placeholder="银行备注关键字" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:10px;">
        <div class="col-md-12 well" style="padding:0px;">
            <fieldset><legend>合同查询设置</legend></fieldset>
            <div class="alert alert-danger" role="alert" id="Contract-Info">
                <span>警告框</span>
            </div>
            <form method="get" action="" id="Contract-Search">
                <input type="hidden" name="Recevied" />
                <input type="hidden" name="Status" />
                <input type="hidden" name="Department" />
                <input type="hidden" name="ZtopCompany" />
                <input type="hidden" name="Archived" />
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">合同名称:</label>
                        <div class="col-md-12">
                            <div class="input-group" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-success" name="Name">全部</button>
                                </div>
                                <input type="text" name="Name" class="form-control input-sm" placeholder="合同名称" />
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">对方单位：</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-sm btn-success" name="OtherSide">全部</button>
                                </div>
                                <input type="text" class="form-control input-sm" placeholder="对方单位" name="OtherSide" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">到账情况：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-success" name="Recevied">全部</button>
                                @foreach (Recevied recevied in Enum.GetValues(typeof(Recevied)))
                                {
                                    <button type="button" class="btn btn-sm btn-default" name="Recevied">@(recevied.GetDescription())</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">合同金额：</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" name="MinMoney" class="form-control input-sm" placeholder="最小值" value="" />
                                <span class="input-group-addon input-sm">至</span>
                                <input type="text" name="MaxMoney" class="form-control input-sm" placeholder="最大值" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">发票开具情况：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-success" name="Status">全部</button>
                                @foreach (ContractState state in Enum.GetValues(typeof(ContractState)))
                                {
                                    <button type="button" class="btn btn-sm btn-default" name="Status">@(state.GetDescription())</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">合同起始时间：</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" name="StartTime" class="form-control datetimepicker input-sm" placeholder="起始时间" value="" />
                                <span class="input-group-addon input-sm">至</span>
                                <input type="text" name="EndTime" class="form-control datetimepicker input-sm" placeholder="结束时间" value="" />
                            </div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-label">合同所属部门：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-success" name="Department">全部</button>
                                @foreach (var department in Department)
                                {
                                    <button type="button" class="btn btn-sm btn-default" name="Department">@(department)</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">合同状态：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-success" name="Archived">全部</button>
                                <button type="button" class="btn btn-sm btn-default" name="Archived">未归档</button>
                                <button type="button" class="btn btn-sm btn-default" name="Archived">归档</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">签署单位：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-success" name="ZtopCompany">全部</button>
                                @foreach (ZtopCompany company in Enum.GetValues(typeof(ZtopCompany)))
                                {
                                    <button type="button" class="btn btn-sm btn-default" name="ZtopCompany">@(company.GetDescription())</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                        </div>
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:10px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>到账日期</th>
                    <th>到账金额（元）</th>
                    <th>对方户名</th>
                    <th>可关联金额（元）</th>
                    <th>发票关联</th>
                </tr>
            </thead>
            <tbody id="Bill">

            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6" style="padding:10px;">
        <form class="form-horizontal" method="post" action="" id="Relate-form">
           <input type="hidden" name="BID" />
            <input type="hidden" name="IID" />
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>项目合同</th>
                    <th>发票内容</th>
                    <th>发票金额（元）</th>
                    <th>开票时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody id="Invoice"></tbody>
        </table>
       
    </div>
</div>

<script>
    $("#Bill-Info").hide();
    $("#Contract-Info").hide();
    $(function () {
        $("#Bill-Search").submit(function () {
            $("#Bill-Info").hide();
            var values = $(this).serialize();
            $.getJSON("/Finance/GetJsonBill", values, function (data) {
                $("#Bill").empty();
                if (data.length == 0) {
                    $("#Bill-Info>span").html("未查询到相关到账信息记录！");
                    $("#Bill-Info").show(500);
                    return false;
                }
                $.each(data, function (index, value) {
                    var timeString = value.Time.replace("/Date(", "").replace(")/", "");
                    var currentTime = new Date();
                    currentTime.setTime(timeString);
                    $("#Bill").append("<tr><td>" + currentTime.toLocaleDateString() + "</td><td>" + value.Money + "</td><td>" + value.Account + "</td><td>" + value.Leave + "</td><td><button type='button' class='btn btn-sm btn-success btn-relate' name='Money"+value.Leave+"' Index='"+value.ID+"'>关联</button></td></tr>")
                });

                $("#Bill button.btn-relate").unbind("click").bind("click", function () {
                    var money = parseFloat($(this).attr("name").replace("Money", ""));
                    if (isNaN(money)) {
                        alert("无法获取当前到账记录金额，请刷新系统重试！");
                        return false;
                    }
                    var items = [];
                    var sum = 0;
                    $("#Invoice>tr.success").each(function () {
                        var index = parseInt($(this).attr("Index"));
                        var a = parseFloat($(this).attr("Money"));
                        if (!isNaN(index) && !isNaN(a)) {
                            sum += a;
                            items.push(index);
                        }
                    });
                    if (money < sum) {
                        alert("超出可关联金额！请核对");
                        return false;
                    } else {
                        $("#Relate-form input[name='BID']").val($(this).attr("Index"));
                        $("#Relate-form input[name='IID']").val(items.join());
                        var data = $("#Relate-form").serialize();
                        $.request("/Finance/Relate", data, function (json) {
                            alert(json.content);
                            if (json.result == 1) {
                                $("#Bill").hide(500).html("");
                                $("#Invoice>tr.success").hide(500).remove();
                                $("#Relate-form input[name='BID']").val("");
                                $("#Relate-form input[name='IID']").val("");
                            }
                            return false;
                        });
                    }
                });

                return false;
            });
            return false;
        });
        $("#Invoice-Search").submit(function () {
            $("#Invoice-Info").hide();
            var value = $(this).serialize();
            $.getJSON("/Finance/GetJsonInvoice", value, function (data) {
                $("#Invoice").empty();
                if (data.length == 0) {
                    $("#Invoice-Info>span").html("未查询到相关发票信息记录！");
                    $("#Invoice-Info").show(500);
                    return false;
                }
                $.each(data, function (Index, value) {
                    if (value.FillTime != null) {
                        var timeString = value.FillTime.replace("/Date(", "").replace(")/", "");
                        var currentTime = new Date();
                        currentTime.setTime(timeString);
                        $("#Invoice").append("<tr Index='"+value.ID+"' Money='"+value.Money+"'><td>"+value.Contract.Name+"</td><td>" + value.Content + "</td><td>" + value.Money + "</td><td>" + currentTime.toLocaleDateString() + "</td><td><i class='glyphicon glyphicon-refresh' name='CSS"+value.ID+"'></i></td></tr>");
                    }
                });

                $("#Invoice>tr").unbind("click").bind("click", function () {
                    var index = $(this).attr("Index");
                    if (!$(this).hasClass("success")) {
                        $(this).addClass("success");
                        $("i[name='CSS" + index + "']").removeClass("glyphicon-refresh").addClass("glyphicon-ok");
                    } else {
                        $(this).removeClass("success");
                        $("i[name='CSS" + index + "']").removeClass("glyphicon-ok").addClass("glyphicon-refresh");
                    }
                });
                return false;
            });
            return false;
        });
    });
</script>
