@{ 
    Layout = null;

}


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3 class="text-center">添加消息类型</h3>
        </div>
        <form class="form-horizontal">

        </form>
    </div>
</div>